<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpAddress" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="FromAddress" value="samggannon@gmail.com" /> <!--your email address-->
		<add key="SmtpPassword" value="rxsw utfo qvfr xlcc" /> <!--your password-->
		<add key="ToAddress" value="samgannon@rocketmail.com"/> <!--add a recipiant-->
	</appSettings>
</configuration>