<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpAddress" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="FromAddress" value="" /> <!--your email address-->
		<add key="SmtpPassword" value="" /> <!--your password-->
		<add key="ToAddress" value=""/> <!--add a recipiant-->
	</appSettings>
</configuration>