<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportResultsNotifier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportResultsNotifier.Settings>
            <setting name="EmailAddress" serializeAs="String">
                <value>sportresults@test.com</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>Results</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="AppPassword" serializeAs="String">
                <value>apppass</value>
            </setting>
        </SportResultsNotifier.Settings>
    </userSettings>
</configuration>